<!-- Footer element -->

<link rel = "stylesheet" property = "stylesheet" href = "assets/css/footer.css">
<link rel = "stylesheet" property = "stylesheet" href = "assets/fontawesome/css/all.css">

<footer>
	<!-- Social Media -->
	<div class = "footer-item">
		<ul>
		  {% for social in site.data.social %}
			<li>
			  <a href = "{{ social.url }}"><i class = "{{ social.icon }}" aria-hidden="true"></i></a>
			</li>
		  {% endfor %}
		</ul>
	</div>
	
	<!-- Bottom -->
	<div class = "footer-item">
		<a href = "/"><script>document.write(new Date().getFullYear())</script> © {{ site.name }}</a> |
		<a href = "/privacy">{{ site.privacy }}</a> |
		<a href = "/impress">{{ site.impress }}</a>
	</div>
</footer>