$logo_color: rgb(215, 214, 214); // Color of divin and other text
$link_color: rgb(160, 165, 165); // Color of links
$back_color: rgb(51, 51, 51); // Background, header and footer color
$games_color: #696F67; // Color of the games section (background & text)